/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("../static/images/homebackground.jpg");
  }
  
  
  #header {
    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
  }
  
  /* Logo styling */
  #header img {
    max-width: 35%;
    height: 5%;
  }
  
  /* Button styling */
  #header button {
    background-color: whitesmoke;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: blue;
    border-radius: 10px;
    margin-top: 15%;
  }
  
  #header button:hover {
    background-color: #0056b3;
  }
  
  /* Our Blogs section styling */
  #ourblogs {
    padding: 20px;
  }
  
  #ourblogs h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 832px) {
    /* Styles applied when screen width is less than or equal to 600px */
    #header {
      display: flex;
      flex-direction: column;
    }
    #header div {
      display: flex;
      flex-direction: column;

    }
  #ourblogs {
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    color: chartreuse;
    border-radius: 10px;
  }
  #createblog {
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    color: chartreuse;
    border-radius: 10px;
  }
  #register {
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    color: chartreuse;
    border-radius: 10px;
  }
  #login {
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    color: chartreuse;
    border-radius: 10px;
  }
  #logout {
    background-color: red;
    margin-left: 30%;
    margin-right: 30%;
    color: chartreuse;
    border-radius: 10px;
  }
  }