/* Style for the blog post content */
.post {
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 2%;
margin-right: 2%;
/* border: 20px solid red; */
text-align: center;
background-image:url('../static/images/greg-rakozy-0LU4vO5iFpM-unsplash.jpg') ;
color: aliceblue;
height: 90%;
}


.post-content  {
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    letter-spacing: 100%;
    color:aliceblue;
    font-size: 20px;
    text-align: center;
    
    justify-content: center;
    height: 50vh;
    
}






.buttons {
    display: flex;

    justify-content: space-between;


    
}
#commentbutton {
    background-color: green;
    border-radius: 10px;
    height: 10%;
}
#update {
    background-color: rgb(128, 0, 58);
    border-radius: 10px;
    height: 10%;
}
#delete {
    background-color: red;
    border-radius: 10px;
    height: 10%;
}
.comments {
    height: auto;
    border: 3px solid green;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
     /* Optional: prevents scrollbars if you don't want any scrolling */
}
