<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>

    <link rel="stylesheet" href="../static/home.css">
    

</head>
<body>
  <section id="header">
    
    <img src="../static/images/logo.png" alt="logo">
    <div>
        <button type="button" onclick="window.location.href='/allBlogs'">View Our Blogs</button>
        <button type="button" onclick="window.location.href='/create_post'">Create Blog</button>
        <button type="button" onclick="window.location.href='/register'">Register</button>
        <button type="button" onclick="window.location.href='/login'">Login</button>
        <button type="button" onclick="window.location.href='/logout'">Logout</button>
    </div>
  </section>  
  <section id="ourblogs">
    <h1>Our Blogs</h1>
  </section>
</body>
</html>