<!-- blog_post.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ blogs.title }}</title>
    
    <link rel="stylesheet" href="../static/view.css">
</head>
<body>
    {% for blog in blogs %}
        <!-- Display the author's picture next to their name -->
    <div class="author-info">
        <!-- Author's picture -->
        <!-- <img src="{{ url_for('static',filename=blog.author.picture_path) }}" alt="Author's Picture">
         -->
        <!-- Author's name -->
        <h4></h4>
    </div>

    <!-- Display the post content and other details -->
    <div class="post-content">
        <h2>{{ blog.title }}</h2>
        <p>Posted on {{ blog.date_posted.strftime('%B %d, %Y') }} by {{ blog.author.username }}</p>
        <p>{{ blog.content|safe }}</p>
    </div>
    
     <!--3 buttons for deleting,udating,commenting-->
        <div>
            <button type="button" onclick="window.location.href='/comments/{{blog.id}}'">Comment</button>
            
            <button type="button" onclick="window.location.href='/update/{{blog.id}}'">Update</button>
            <button type="button" onclick="window.location.href='/deletePost/{{blog.id}}'">Delete</button>
        </div>
        <div>
            <h3>Comments</h3>
            <ul>
                {% for comment in blog.comments %}
                    <li>{{ comment.author }} - {{ comment.content|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    
</body>
</html>
